:root {
  --border-color: #888;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

body {
  font-family: 'Cormorant+Garamond', serif;
  font-size: 1.5em;
}

h1,h2,h3 {
  font-family: 'Fredericka the Great', cursive;
  font-weight: normal;
}
h1 {
  font-size: 3em;
  line-height: .8em;
  text-align: center;
  margin: .2em 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  border-bottom: 1px dashed;
  transition: ease-in all 100ms;
}
a:hover {
  border-bottom: 1px solid;
}

.container {
  width: 1027px;
  margin: 0 auto;
}
header, .content, footer {
  margin: 2em 0;
}

.main p:first-line {
  font-size: 1.2em;
}

article {
  display: flex;
}
article div, article section {
  flex: 1;
}

.current article div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
.current article div+div {
  border-left: 1px solid var(--border-color);
}
.current h3, .current p {
  margin: 0;
}

.line {
  height: 1px;
  border-top: 1px solid var(--border-color);
}

.double-line {
  height: 5px;
  border-top: 1px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

.stuff article + article {
  margin-top: 1em;
}
.stuff h3 {
  margin-bottom: 0.5em;
}
.stuff ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: justify;
}
.stuff ul li {
  margin-right: 30px;
}

.contact {
  text-align: center;
  padding: 1em 0;
}
.contact h3 {
  margin-top: 0;
}
.contact ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.contact ul li {
  margin: 0 0 0 20px;
  padding: 0;
}
.contact ul li+li::before {
  display: inline-block;
  content: '//';
  margin-right: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  /* max-width: 100%; */
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;

  top: -10px;
  left: 110%;
  position: absolute;
  z-index: 1;

  opacity: 0;
  transition: opacity 400ms;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

footer {
  text-align: center;
  padding: 20px 0;
}


@media only screen and (max-width: 1140px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0 2em;
  }
}

@media only screen and (max-width: 680px) {
  .current article {
    flex-direction: column-reverse;
  }
  .current article div+div {
    border: 0;
  }
  .current article div:first-child {
    border-top: 1px solid var(--border-color);
  }
  .stuff article {
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color: white;
    background: black;
  }
  a {
    color: white;
  }
  a:hover {
    color: #2f81f7;
  }
  .tooltip .tooltiptext {
    background-color: #333;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color: #222;
  }
  a {
    color: black;
  }
  a:hover {
    color: blue;
  }
  .tooltip .tooltiptext {
    background-color: lightyellow;
  }
}


@media print {
  .container {
    width: 100%;
    margin: 0 2em;
  }
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    border: 0;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
