* {
  box-sizing: border-box;
}

body {
  font-family: '', serif;
  font-size: 16px;
  line-height: 1.4em;
}

h1, h2, h3 {
  font-weight: normal;
  margin: 0;
}
h1 {
  font-size: 5em;
  line-height: 0.8em;
  letter-spacing: 1.5px;
  font-weight: 400;
  text-align: center;
}
h2 {
  margin-bottom: 0.5em;
  letter-spacing: 1.5px;
}
h3 {
  letter-spacing: 1.1px;
}
h3 span {
  text-align: center;
}
h3 span+span {
  margin-left: 1em;
  font-size: 0.7em;
  opacity: 0.8;
}

header {
  margin-top: 1em;
}
p {
  margin: 0;
}
ul {
  margin: 0;
}
section+section {
  margin-top: 1em;
}

.container {
  margin: 0 2em;
}
.content {
  margin: 1em 0 2em 0;
}
.contact {
  margin: 0 0 2em 0;
}
.contact article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.contact ul li+li {
  margin-left: 1em;
}

@media (prefers-color-scheme: dark) {
  html {
    color: #ece5cf;
    background: #222;
  }
  a {
    color: #ece5cf;
  }
  a:hover {
    color: #2f81f7;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color: #222;
    background: #ece5cf;
  }
  a {
    color: #222;
  }
  a:hover {
    color: blue;
  }
}


@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    border: 0;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
