body {
  font-size: 16px;
}

h1.title {
  font-size: 3em;
  line-height: 1;
}

h1, h2, h3, p, ul {
  margin: 0;
}

h2 {
  margin-bottom: 5px;
}

a {
  border: none;
}

.container {
  margin: 1em 0;
}

.main {
  margin-bottom: 10px;
}
.main article p {
  text-align: center;
}
.main article ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.main article ul li {
  margin-right: 1em;
}

h3 {
  display: flex;
}
h3 span:nth-child(2) {
  flex: 1;
  text-align: center;
}

.education section + section {
  margin-top: 10px;
}
.employment ul {
  margin-bottom: 10px;
}
